script(src="/scripts/subscriptions.js", type="text/javascript")

div#wrapper
  h2 Current Location
  div#location
    a#map_link
      span.lat 000.000000
      ,
      span.lng 000.000000
    div
      span.accuracy 0
      span m accuracy
    button#follow.button Follow!
  div#subscriptions 
    h2 Following
    button#unfollow.button Unfollow All

