script(src="/scripts/subscriptions.js", type="text/javascript")

div#location
  h2 Current Location
  div.finding Finding you...
  div.found
    a#map_link
      span.lat 000.000000
      ,
      span.lng 000.000000
      span=' @'
      span.accuracy 1000
      span m 
    div
      button#follow.button Watch this Place!
  div.not_found Unable to find your current location
    
div#subscriptions 
  h2 Currently Watching
  ul
  button#unfollow.button Stop Watching

