script(src="/static/scripts/subscriptions.js", type="text/javascript")

div#wrapper
  h2 Current Location
  div#location
    div.lat 000.000000
    div.lng 000.000000
    button.button Follow!
  h2 Following
  div#locations 
    div None
